# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Environment variables
.env

# IDE files
.idea/
*.iml

# Test outputs and media
*.mp4
*.m4a

# Ignore nested VideoClipper folder
/VideoClipper/ 